*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    font-weight: 600;
    box-shadow: 0px 0px 90px 0px grey ;
}
.btn:hover {
    background-color: #2ab765;
}
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    text-align: center;
    padding: 70px 120px 170px;
}
 .banner-top {
  display: inline-block;
  padding: 8px 14px;
  background: white;
  color: green;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
#banner h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

#banner h1 .color{
    color: #30B868;
}
#banner p{
    margin: 16px 295px 32px;
    color: #FFFFFF;
  line-height: 24px;
  margin-bottom: 30px;
}
#banner .btn2{
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
}
#banner .btn2:hover{
    background-color: grey;
}
#banner .button{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#about{
    text-align: center;
}
#about .about-heading{
    padding: 44px;
}
#about .about-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
#about .about-heading p{
    
    color: #627382;
}

#about .card-section{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0px 120px;
}
#about .card{
    padding: 24px;
    width: 300px;
    height: 252px;
    border-radius: 8px;
    box-shadow: 0px 6px 50px 0px rgba(128, 128, 128, 0.454);
}
#about .card img{
    margin-top: 30px;
    width: 60px;
    height: 60PX;
    border-radius: 50px;
    padding: 16px;
    background-color: tomato;
    margin-bottom:16px;
}
#about .card h3{
    color: #001931;
    margin-bottom: 16Px;
}
#about .card p{
    color: #627382;
    line-height: 20px;
}
#second-brain{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 120px;
}
#second-brain .brain-info .brain-h{
    margin-bottom: 40px;
    width: 700;
}
#second-brain .brain-info .brain-h h5{
margin-top: 102px;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #469165;
margin-bottom: 16px;
}
#second-brain .brain-info .brain-h h3{
    font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #001931;
margin-bottom: 16px;
}
#second-brain .brain-info .brain-h p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    text-align: left;
    
}
#second-brain .brain-info .check p{
margin-top: 16px;
color: #001931;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}
#early-access{
   text-align: center;
   margin: 0px 120px 120px 120px;
   background-color: #F7F6F2;
   padding: 80px 40px;
}

#early-access h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
    margin-bottom: 16px;
}
#early-access p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 16px;
}#early-access button{
    margin: 0px auto;
    margin-bottom: 16px;

}
footer{
    background-color: #001931;

}
footer .footer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 80px;
}
footer .footer-logo .social-link {
    justify-items: center;
}
footer .footer-logo .social-link h5{
    color:#FBFBFB;
    margin-bottom: 16px;
}
footer .copyright { 
    padding: 0px 120px;
}
footer .copyright p{
    
    color: #FAFAFA;
    text-align: center;
    padding: 30px 120px;
}