*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    font-weight: 600;
}
.btn:hover {
    background-color: #2ab765;
}
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    text-align: center;
    padding: 70px 120px 170px;
}
 .banner-top {
  display: inline-block;
  padding: 8px 14px;
  background: white;
  color: green;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
#banner h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

#banner h1 .color{
    color: #30B868;
}
#banner p{
    margin: 16px 295px 32px;
    color: #FFFFFF;
  line-height: 24px;
  margin-bottom: 30px;
}
#banner .btn2{
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
}
#banner .button{
    display: flex;
    justify-content: center;
    gap: 15px;
}