*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    font-weight: 600;
}
.btn:hover {
    background-color: #2ab765;
}
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}